{% extends "::base.html.twig" %}

{% block body %}
    <br/>
    <div class="row"> 
        <div class="col-lg-12">
            
            <h1 align="center">Impossible de supprimer ce paramétrage car il est encore lié à des matériels !</h1>
            <br/>
            
        </div>
    </div>
{% endblock %}
