
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
  <br/>
  <div class='row'>   
    <div class='col-lg-4'>
    {{ form_widget(form) }}
    </div>
    <div class='col-lg-8'>
        
    </div>
  </div>
    <div>
        <br/>
        <br/>
        <input type="submit" value="Modifer le mot de passe" class='btn btn-default' />
    </div>
</form>
